name: Build OrangeFox
on:
  workflow_dispatch:
    inputs:
      MANIFEST_BRANCH:
        description: 'Manifest Branch'
        required: true
        default: 'OrangeFox-12.1'
      DEVICE_PATH:
        description: 'Device Path'
        required: true
        default: 'device/samsung/m14x'
      DEVICE_NAME:
        description: 'Device Name'
        required: true
        default: 'm14x'
      BUILD_TARGET:
        description: 'Build Target'
        required: true
        default: 'recoveryimage'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Android Build Environment
      run: |
        sudo apt update -y
        sudo apt install aria2 git bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev -y
        git clone https://gitlab.com/OrangeFox/misc/scripts.git -b master
        cd scripts && sudo bash setup/android_build_env.sh
    
    - name: Build OrangeFox
      run: |
        cd OrangeFox/fox_${{ github.event.inputs.MANIFEST_BRANCH }}
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        
        cd ${{ github.event.inputs.DEVICE_PATH }}
        cat >> BoardConfig.mk << 'EOL'
OF_SAMSUNG_SPECIAL:=1
FOX_USE_BASH_SHELL:=1
FOX_ASH_IS_BASH:=1
FOX_USE_NANO_EDITOR:=1
FOX_USE_TWRP_RECOVERY_IMAGE_BUILDER:=1
TW_NO_SCREEN_BLANK:=true
OF_PATCH_AVB20:=1
FOX_USE_MAGISKBOOT:=1
FOX_BUGGED_AOSP_ARB_WORKAROUND:=1
FOX_DELETE_AROMAFM:=1
EOL
        
        cd ../..
        lunch twrp_${{ github.event.inputs.DEVICE_NAME }}-eng
        make clean && mka ${{ github.event.inputs.BUILD_TARGET }}
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: OrangeFox-${{ github.event.inputs.DEVICE_NAME }}
        path: |
          out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.img
          out/target/product/${{ github.event.inputs.DEVICE_NAME }}/*.zip
